// Assorted
$bg-colour: silver;
$secondary-colour: #f8f9fa;
$border: 1px solid black;

// Breakpoints
$xs: 0px;
$sm: 600px;
$md: 900px;
$lg: 1200px;
$xl: 1536px;

html,
body {
  background-color: $bg-colour;
}

img {
  width: 100px;
  height: 100px;
}

table {
  border-collapse: separate !important; // ? Is there a way to replace this?
  border-bottom: $border;
  border-radius: 5px;
}

.stock {
  display: flex;
  justify-content: center;
  ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 0;
    li {
      display: inline-block;
    }
    li::before {
      content: '🐧';
      margin-right: 0.35em
    }
  }
}

#return
{
  background-color: $secondary-colour;
}

table,
#box {
  background-color: $secondary-colour;
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 
              0px 1px 1px 0px rgba(0,0,0,0.14), 
              0px 1px 3px 0px rgba(0,0,0,0.12);
}

thead > tr > th {
  background-color: $secondary-colour !important; // ? Is there a way to 
                                                  // ? replace this?
}

thead > tr:first-child > th {
  border-top: $border;
}

th:not(:last-child), 
td:not(:last-child),
tbody > tr > td,
thead > tr:first-child > th:last-child {
  border-right: $border;
}

tbody > tr > th,
thead > tr > th:first-child {
  border-left: $border;
}

thead > tr:first-child > th:first-child {
  border-top-left-radius: 5px;
}

thead > tr:first-child > th:last-child {
  border-top-right-radius: 5px;
}

@media (max-width: $sm) {
  .table-container {
    box-shadow: none !important; // ? Is there a way to replace this?
    overflow-x: visible !important; // ? Is there a way to replace this?
  }
  #table {
    margin-right: 1rem;
  }
}

@media (min-width: $md) {
  html,
  body {
    overflow-x: hidden; // TODO: Fix this temporary hack for the return button
                        // TODO: overflowing.
    padding: 0;
    margin: 0;
  }

  #container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
}
