// Assorted
$border: 1px solid black;

// Breakpoints
$xs: 0px;
$sm: 600px;
$md: 900px;
$lg: 1200px;
$xl: 1536px;

table {
  border-collapse: separate;
  border-bottom: $border;
  border-radius: 5px;
}

thead > tr:first-child > th {
  border-top: $border;
}

th:not(:last-child), 
td:not(:last-child),
tbody > tr > td,
thead > tr:first-child > th:last-child {
  border-right: $border;
}

tbody > tr > th,
thead > tr > th:first-child {
  border-left: $border;
}

thead > tr:first-child > th:first-child {
  border-top-left-radius: 5px;
}

thead > tr:first-child > th:last-child {
  border-top-right-radius: 5px;
}

@media (min-width: $xs) {
  img {
    width: 100px;
    height: 100px;
  }
}

@media (min-width: $md) {
  html,
  body {
    overflow-x: hidden; // TODO: Fix this temporary hack for the return button
                        // TODO: overflowing.
    padding: 0;
    margin: 0;
  }

  #container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
}
